files:
# Runs right before `npm install` in '.../50npm.sh'
"/opt/elasticbeanstalk/hooks/appdeploy/pre/49yarn.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
        #!/bin/bash

        app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

        # install node
        curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -;

        # install yarn
        curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo;
        yum -y install yarn;

        # install node_modules with yarn
        cd "${app}";
        yarn install;
content: |
  #!/usr/bin/env bash
  set -euxo pipefail

  EB_NODE_VERSION=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)
  echo "EB node version: $(EB_NODE_VERSION)"

  # Make sure Node binaries can be found (required to run npm).
  # And this lets us invoke npm more simply too.
  export PATH=/opt/elasticbeanstalk/node-install/node-v$EB_NODE_VERSION-linux-x64/bin:$(C:\Users\wooju\Documents\insiderstock\backend)

  if yarn -v; then
    echo 'Muyaho Yarn already installed.'
  else
    echo 'Muyaho Installing yarn...'
    npm install yarn -g
  fi